@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary: #4c5d63;
$secondary: #63584D;
$info: #7F9AA3;
$body-bg:  #B89D81;
$border-radius: 10px;
$font-family-sans-serif: 'Ubuntu';
$form-check-input-checked-color: #63584D;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
