@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary: #92AD9C;
$secondary: #585237;
$info: #AD9392;
$body-bg:  #ADA892;
$border-radius: 10px;
$font-family-sans-serif: 'Ubuntu';

@import "../node_modules/bootstrap/scss/bootstrap.scss";
